.buttonlar{
    margin-top: 15px;
    position: inherit;
    display: block;
    text-align: center;
}
.baslik{
    font-size: 14px;
    color: gray;
    font-weight: 500;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.tumunu-gor-button{
    font-size: 12px;
    color: #faa00a;
    float: right;
    font-weight: 400;
    margin-right: 10px;
    margin-top: 25px;
}

.aciklama{
    font-size: 12px;
    color: #6bbede;
    float: left;
    font-weight: 400;
    max-width: 83%;
}
.islem-tutari{
    font-size: 12px;
    color: #eb445a;
    float: right;
    font-weight: 400;
    text-align: right;
}








.toplam-kazanc{
    font-size: 16px;
    color: gray;
    font-weight: 700;
}
.toplam-kazanc-tutar{
    font-size: 16px;
    color: gray;
    font-weight: 500;
}