

.aciklama{
    font-size: 12px;
    color: #6bbede;
    float: left;
    font-weight: 400;
    max-width: 83%;
}
.islem-tutari{
    font-size: 12px;
    color: #eb445a;
    float: right;
    font-weight: 400;
    text-align: right;
}
.tarih {
    max-width: 100%;
    font-size: 11px;
    color: gray;
    width: 20%;
}